# Introdução à Ciência de Dados - UFPB
Professor: Yuri Malheiros

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

In [24]:
import pandas as pd

filmes = pd.read_csv('movies.csv')

In [25]:
filmes.head()

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0
2,I Married a Strange Person,203134.0,203134.0,NaN,250000.0,28-Aug-98,NaN,NaN,Lionsgate,NaN,Comedy,NaN,NaN,NaN,6.8,865.0
3,Let's Talk About Sex,373615.0,373615.0,NaN,300000.0,11-Sep-98,NaN,NaN,Fine Line,NaN,Comedy,NaN,NaN,13.0,NaN,NaN
4,Slam,1009819.0,1087521.0,NaN,1000000.0,9-Oct-98,R,NaN,Trimark,Original Screenplay,Drama,Contemporary Fiction,NaN,62.0,3.4,165.0

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [45]:
generos = filmes['Major Genre'].unique()
luc = [filmes[filmes['Major Genre'].unique()[i] == filmes['Major Genre']]['Worldwide Gross'].sum() for i in range(len(generos))]

In [46]:
genero_dinheiro = pd.Series(luc, generos) #aqui eu não estou contando com o custo de produção
genero_dinheiro.sort_values(ascending=False)

Adventure              6.608096e+10
Action                 6.043561e+10
Comedy                 5.038405e+10
Drama                  4.047617e+10
Thriller/Suspense      1.926069e+10
Horror                 1.332168e+10
Romantic Comedy        1.186665e+10
Musical                3.904838e+09
Western                1.301373e+09
Black Comedy           8.246719e+08
Documentary            6.989444e+08
Concert/Performance    1.536220e+08
NaN                    0.000000e+00
dtype: float64

### Vendo os lucros no mundo em relação ao custo de produção

In [47]:
generos_ = filmes['Major Genre'].unique()
lucro = [filmes[filmes['Major Genre'].unique()[i] == filmes['Major Genre']]['Diference World'].sum() for i in range(len(generos_))]

In [48]:
genero_dinheiro = pd.Series(lucro, generos_) #aqui eu vejo com os custos de produção
genero_dinheiro.sort_values(ascending=False)

Adventure              4.721806e+10
Action                 3.746743e+10
Comedy                 3.116520e+10
Drama                  2.265896e+10
Thriller/Suspense      1.137307e+10
Horror                 9.264508e+09
Romantic Comedy        7.982421e+09
Musical                2.771821e+09
Documentary            5.176731e+08
Western                3.960512e+08
Black Comedy           3.633219e+08
Concert/Performance    1.231220e+08
NaN                    0.000000e+00
dtype: float64

### Qual o diretor dirigiu mais filmes?

In [31]:
filmes['Director'].value_counts().index.values[0]

'Steven Spielberg'

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [32]:
filmes['Diference US'] = filmes['US Gross'] - filmes['Production Budget']

In [33]:
indices = [filmes['Diference US'].sort_values(ascending=False).index[i] for i in range(10)]

In [34]:
filmes['Title'].loc[indices]

1234                                           Avatar
912                      Star Wars Ep. IV: A New Hope
296                         ET: The Extra-Terrestrial
2970                                          Titanic
2741                                          Shrek 2
1266                                  The Dark Knight
2488                        The Passion of the Christ
2883              Star Wars Ep. I: The Phantom Menace
485                                     Jurassic Park
2202    The Lord of the Rings: The Return of the King
Name: Title, dtype: object

### As maiores arrecadações no mundo

In [35]:
filmes['Diference World'] = filmes['Worldwide Gross'] - filmes['Production Budget']

In [36]:
indices_world = [filmes['Diference World'].sort_values(ascending=False).index[i] for i in range(10)]

In [37]:
filmes['Title'].loc[indices_world]

1234                                           Avatar
2970                                          Titanic
2202    The Lord of the Rings: The Return of the King
485                                     Jurassic Park
1975            Harry Potter and the Sorcerer's Stone
2741                                          Shrek 2
2987                                      Toy Story 3
2507       Pirates of the Caribbean: Dead Man's Chest
1266                                  The Dark Knight
2201            The Lord of the Rings: The Two Towers
Name: Title, dtype: object